alias update='sudo apt-get update'
alias upgrade='sudo apt-get upgrade'
alias search='apt-cache search'
alias add='sudo apt-get install'
alias del='sudo apt-get remove'
alias ..='cd ..'
alias prj='cd ~/Projetos/'
alias down='cd ~/Downloads'
alias prg='cd ~/Programas'
alias wine64='WINEPREFIX=~/.wine64 wine'
alias wine64tricks='WINEPREFIX=~/.wine64 winetricks --gui'
alias wine64cfg='WINEPREFIX=~/.wine64 winecfg'
alias bb='bitbucket'
alias ealias='nvim ~/.bash_aliases'
alias evim='nvim ~/.config/nvim/init.vim'
alias search='apt-cache search'
alias bd_env='. build/envsetup.sh'
alias nz='nvim ~/.zshrc'
alias nv='nvim ~/.config/nvim/init.vim'
alias mkrom='function _mkrom(){ makerom -f cia -o $1 -rsf cia.rsf
-target t -exefslogo -elf $2 -icon myproject.smdh -banner banner.bin;
};_mkrom'
