alias update='sudo apt-get update'
alias upgrade='sudo apt-get upgrade'
alias search='apt-cache search'
alias add='sudo apt-get install'
alias del='sudo apt-get remove'
alias ..='cd ..'
alias down='cd ~/Downloads'
alias bb='bitbucket'
alias search='apt-cache search'
alias bd_env='. build/envsetup.sh'
alias nz='nvim ~/.zshrc'
alias nv='nvim ~/.config/nvim/init.vim'
alias snvim='sudo -E nvim'

prg () {
  cd ~/Programas/"$1"
}

prj () {
    cd ~/Projetos/"$1"
}
